.dashboard-container {
  padding: 30px;
  font-family: Arial;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.metrics {
  display: flex;
  gap: 40px;
  margin-top: 10px;
  font-size: 18px;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #f3f3f3;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
}

.sidebar h3 {
  font-size: 24px;
  font-weight: bold;
}

.sidebar a {
  display: block;
  margin-top: 18px;
  font-size: 18px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 260px;
  padding: 30px;
}
