.auth-container {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: white;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.auth-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.auth-container button {
    width: 95%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

.auth-container button:hover {
    background-color: #0056b3;
}

.auth-container p {
    margin-top: 20px;
    font-size: 15px;
    color: #007bff;
    cursor: pointer;
}
